<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <!-- web应用信息  -->
  <context-param>
  	<param-name>user</param-name>
  	<param-value>lishuai</param-value>
  </context-param>
  <servlet>
    <servlet-name>SConfigDemo1</servlet-name>
    <servlet-class>cn.tedu.sconfig.SConfigDemo1</servlet-class>
    <!-- 在当前servlet配置中添加初始化配置信息 -->
    <init-param>
    	<param-name>username</param-name>
    	<param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>SConfigDemo2</servlet-name>
    <servlet-class>cn.tedu.sconfig.SConfigDemo2</servlet-class>
  	<init-param>
  		<param-name>key</param-name>
  		<param-value>value1</param-value>
  	</init-param>
  	<init-param>
  		<param-name>key2</param-name>
  		<param-value>value2</param-value>
  	</init-param>
  	<init-param>
  		<param-name>driver</param-name>
  		<param-value>com.mysql.jdbc.Driver</param-value>
  	</init-param>
  	<init-param>
  		<param-name>url</param-name>
  		<param-value>jdbc:mysql://localhost:3306/mydb1</param-value>
  	</init-param>
  </servlet>
  <servlet>
    <servlet-name>SConfigDemo3</servlet-name>
    <servlet-class>cn.tedu.sconfig.SConfigDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SContextDemo1</servlet-name>
    <servlet-class>cn.tedu.scontext.SContextDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SContextDemo2</servlet-name>
    <servlet-class>cn.tedu.scontext.SContextDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SContextDemo3</servlet-name>
    <servlet-class>cn.tedu.scontext.SContextDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SContextDemo4</servlet-name>
    <servlet-class>cn.tedu.scontext.SContextDemo4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SContextDemo5</servlet-name>
    <servlet-class>cn.tedu.scontext.SContextDemo5</servlet-class>
  </servlet>









  <servlet-mapping>
    <servlet-name>SConfigDemo1</servlet-name>
    <url-pattern>/servlet/SConfigDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SConfigDemo2</servlet-name>
    <url-pattern>/servlet/SConfigDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SConfigDemo3</servlet-name>
    <url-pattern>/servlet/SConfigDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SContextDemo1</servlet-name>
    <url-pattern>/servlet/SContextDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SContextDemo2</servlet-name>
    <url-pattern>/servlet/SContextDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SContextDemo3</servlet-name>
    <url-pattern>/servlet/SContextDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SContextDemo4</servlet-name>
    <url-pattern>/servlet/SContextDemo4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SContextDemo5</servlet-name>
    <url-pattern>/servlet/SContextDemo5</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
