<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>RequestDemo1</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo2</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo3</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo4</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo4</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo5</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo5</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo6</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo6</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo7</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo7</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo8</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo8</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo9</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo9</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo10</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo10</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo11</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo11</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo12</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo12</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RequestDemo13</servlet-name>
    <servlet-class>cn.tedu.request.RequestDemo13</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>cn.tedu.response.ResponseDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo2</servlet-name>
    <servlet-class>cn.tedu.response.ResponseDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo3</servlet-name>
    <servlet-class>cn.tedu.response.ResponseDemo3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ResponseDemo4</servlet-name>
    <servlet-class>cn.tedu.response.ResponseDemo4</servlet-class>
  </servlet>

















  <servlet-mapping>
    <servlet-name>RequestDemo1</servlet-name>
    <url-pattern>/servlet/RequestDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo2</servlet-name>
    <url-pattern>/servlet/RequestDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo3</servlet-name>
    <url-pattern>/servlet/RequestDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo4</servlet-name>
    <url-pattern>/servlet/RequestDemo4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo5</servlet-name>
    <url-pattern>/servlet/RequestDemo5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo6</servlet-name>
    <url-pattern>/servlet/RequestDemo6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo7</servlet-name>
    <url-pattern>/servlet/RequestDemo7</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo8</servlet-name>
    <url-pattern>/servlet/RequestDemo8</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo9</servlet-name>
    <url-pattern>/servlet/RequestDemo9</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo10</servlet-name>
    <url-pattern>/servlet/RequestDemo10</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo11</servlet-name>
    <url-pattern>/servlet/RequestDemo11</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo12</servlet-name>
    <url-pattern>/servlet/RequestDemo12</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestDemo13</servlet-name>
    <url-pattern>/servlet/RequestDemo13</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/servlet/ResponseDemo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo2</servlet-name>
    <url-pattern>/servlet/ResponseDemo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo3</servlet-name>
    <url-pattern>/servlet/ResponseDemo3</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDemo4</servlet-name>
    <url-pattern>/servlet/ResponseDemo4</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
