<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="false">
    <!--
    懒加载机制
    lazy-init:
        default 采用默认值
        false   关闭懒加载
        true    开启懒加载
     -->
    <bean id="person" class="cn.tedu.domain.Person" lazy-init="true"></bean>
</beans>