<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCDay01_04_Parameter">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCDay01_04_Parameter</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVCDay01_04_Parameter/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCDay01_04_Parameter" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="module" name="SpringMVCDay01_04_Parameter" module-name="SpringMVCDay01_04_Parameter" />
        </element>
      </element>
    </root>
  </artifact>
</component>