<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 全站初始化参数配置 -->
	<context-param>
		<description>全站编码配置</description>
		<param-name>encode</param-name>
		<param-value>utf-8</param-value>
	</context-param>
	<context-param>
		<description>是否启用全局请求乱码解决</description>
		<param-name>use_request_encoder</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- 配置Filter -->
	<filter>
		<filter-name>EcodingFilter</filter-name>
		<filter-class>com.easymall.filter.EcodingFilter</filter-class>
	</filter>	
	<filter-mapping>
		<filter-name>EcodingFilter</filter-name>
		<url-pattern>/*</url-pattern>		
	</filter-mapping>
	<filter>
		<filter-name>AutoLoginFilter</filter-name>
		<filter-class>com.easymall.filter.AutoLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AutoLoginFilter</filter-name>
		<url-pattern>/*</url-pattern>	
	</filter-mapping>

	<!-- 配置Servlet -->
	<servlet>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>com.easymall.web.RegistServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ValistrServlet</servlet-name>
		<servlet-class>com.easymall.web.ValistrServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.easymall.web.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.easymall.web.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/RegistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValistrServlet</servlet-name>
		<url-pattern>/ValistrServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>

	<!-- 配置主页 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
