<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <context-param>
        <param-name>encoding</param-name>
        <param-value>utf-8</param-value>
    </context-param>
    <context-param>
        <param-name>key4</param-name>
        <param-value>value4</param-value>
    </context-param>
    <servlet>
        <servlet-name>ServletConfig01</servlet-name>
        <servlet-class>cn.tedu.demo.ServletConfig01</servlet-class>
        <!-- init-param是当前servlet的初始化 -->
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConfig01</servlet-name>
        <url-pattern>/ServletConfig01</url-pattern>
    </servlet-mapping>
</web-app>