<component name="libraryTable">
  <library name="SpringDay01_05_IOC_Lazy-lib">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/SpringDay01_05_IOC_Init_Destory/lib" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/SpringDay01_05_IOC_Init_Destory/lib" recursive="false" />
  </library>
</component>