<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 单例 多例
    scope=singleton 单例
    scope=prototype 多例
     -->
    <bean id="cart" class="cn.tedu.domain.Cart" scope="prototype"></bean>
</beans>